<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sol.earningapp.smtech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sol.earningapp.smtech.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sol.earningapp.smtech.activities.MainActivity"
            android:label="My Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sol.earningapp.smtech.activities.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noTitle" />
        <activity
            android:name="sol.earningapp.smtech.activities.SpinActivity"
            android:label="@string/title_activity_spin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sol.earningapp.smtech.activities.ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="sol.earningapp.smtech.activities.WithdrawActivity"
            android:label="Withdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name="sol.earningapp.smtech.activities.WithdrawRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sol.earningapp.smtech.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noTitle"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1295679460207480~1411532058" />


    </application>

</manifest>